body {
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    background-color: #F8F8F8;
    
}

div#top {
    height: 60px;
    margin-top: 0px;
    padding-top: 0px;
    background-color: #333366;
}

div#top_left
{
    float: left;
    width: 400px;
    height: 30px;
}

div#top_right
{
    width: 250px;
    height: 30px;
    float: right;
}

div#icon
{
    width: 30px;
    height: 30px;
    float: left;
    /* background: url("../res/images/icon.jpg") no-repeat center;  */
}

div#sysname
{
    height: 30px;
    text-align: center;
    margin: 0 auto;
    font-size: 20;
}

/* div#info
{
    float: left;
} */

div#loginfo
{
    float: right;
    margin-right: 10px;
}

div#line
{
    height: 1px;
    background: grey;
}
/* 
div#content {
    inline
} */

div#tree
{
    float: left;
    width: 180px;
    top: 62px;
    /* height: 100%; */
    /* border-right: 1px solid grey; */
    margin-left: 10px;
}

div.node 
{
    width: 175px;
    /* border: 2px solid #42b983; */
    border-radius: 3px;
    background-color: #42b983;
    margin: 5px 0px;
}

div.leaf 
{
    width: 150px;
    float: right;
    border-radius: 3px;
    background-color: #42b983;
    margin: 5px;
}

div#mid {
    /* float: left; */
    /* margin-left: 185px; */
    width: 5px;
    top: 62px;
    z-index: 10;
    left: 0;
    bottom: 0;
    height: 830px;
    /* margin-top: -62px; */
    background-color: grey;
    overflow-x: hidden;
    overflow-y: auto;
}

div#page {
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}