/* begin login.html */
div#head
{
    /* float: top; */
    text-align: center;
    margin: 0px auto;
    background-color: #87B6A7;
}

div#tip
{
    text-align: center;
    margin: 0 auto;
    font-size: 12;
    color: red;
}

div#app
{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 500px;
    margin-left: -200px;
    margin-top: -250px;
    background-color: #F8F8F8;
    /* background: url("../res/images/loginbgimg.jpg") no-repeat center;  */
    /* border: 1px solid greenyellow; */
    /* background-color: green; */
    border-radius: 5%;
}

div.area
{
    text-align: center;
    margin: 0 auto;
    width: 250px;
    height: 30px;
    margin-top: 15px;
    border: 1px solid rebeccapurple;
    /* border-radius: 5%; */
}

div.lab
{   
    float: left;
    width: 100px;
    height: 30px;
    background: #87B6A7;
}

div.labsubmit
{
    background: #87B6A7;
}

div#inp
{
    float: right;
    width: 150px;
    height: 30px;
}

label
{
    height: 30px;
    line-height: 30px;
}

input.txt
{
    width: 150px;
    height: 30px;
}

div#form
{
    text-align: center;
    margin: 0 auto;
}

input#btnsub
{
    width: 250px;
    font-size: 18;
    background: #87B6A7;
    /* border-radius: 5%; */
    border: 1px solid rebeccapurple;
}

/* end login.html */